<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SimpleExample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="SimpleExample.Properties.Settings.ExampleConnection"
        connectionString="Data Source=NOWBI-ADMIN;Initial Catalog=NowBI.VI.ReportingDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="SettingsProviderDatabase" 
         connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=nowbi-admin;Initial Catalog=SPPrimitives.SettingsProvider.Database;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <SimpleExample.Properties.Settings>
      <setting name="ExampleInt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExampleString" serializeAs="String">
        <value />
      </setting>
    </SimpleExample.Properties.Settings>
  </applicationSettings>
</configuration>